#nav_container_div {
    height: 60vh;
    background-image: url("Assets/nav-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
/* =========================================== */
#news_container_div {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

/* =========================================== */

#penn_priorities {
    background-image: url("https://www.upenn.edu/themes/custom/penn_global/assets/img/blue-pattern-bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    /* padding: 70px 0; */
    /* border: 3px solid rgb(150, 25, 25); */
    background-size: 100% 75%;
}
.pennPrioritiesTitle {
    margin-top: 140px;
}
.slider {
    top: 8%;
}

.slick-next {
    left: 88% !important;
}
.slick-prev {
    left: 10% !important;
}

.slick-next,
.slick-prev {
    color: black !important;
    z-index: 100;
}

.slick-next:before,
.slick-prev:before {
    font-size: 70px !important;
    color: black !important;
}

.slick-slide {
    width: 850px !important;
}

.slick-dots {
    /* position: absolute; */
    bottom: -100px !important;
    /* display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; */
}

.slick-dots li.slick-active button:before {
    /* opacity: .75 !important; */
    color: rgb(84, 4, 4) !important;
    font-size: 15px !important;
}
.slick-dots li button:before {
    color: rgb(84, 4, 4) !important;
    font-size: 10px !important;
}

/* =========================================== */
#stay_connected {
    margin-top: 150px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

/* overlay effect--------------------- */

.effect-image-1 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*-- global css --*/

.overlay-sim-text-2 {
    /* transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear; */
}

.effect-image-1 {
    position: relative;
    display: block;
}

.overlay-sim-text-2 p {
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: #fff;
    /* padding: 20px 20px; */
}

/*-- overlay text effect 2 --*/

.effect-image-2 {
    background-color: #011f5b;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px;
}
.effect-image-2 p {
    color: white;
}

.overlay-sim-text-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(246, 0, 2, 0.7);
    padding: 30px;
    opacity: 0;
    justify-content: start;
    align-items: center;
}

.effect-image-1:hover .overlay-xs-1 {
    opacity: 1;
    visibility: visible;
    display: flex;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

/* overlay effect ----------------------*/

/* =========================================== */
#penn_opportunity {
    height: 500px;
    background-color: #011f5b;
}

#penn_opportunity a {
    border-radius: 30px;
    padding: 20px;
    font-size: 12px;
    font-weight: bold !important;
    text-transform: uppercase;
}
#penn_opportunity a:hover {
    color: #011f5b !important;
    font-weight: bold !important;
}

/* =========================================== */
/* background overlay css */
.test {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
}

.test:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 20em; */
    background: #011f5bbd;
    background-size: cover;
    background-position: center center;
}
.text {
    font-family: Arial;
    font-size: 2em;
    color: white;
    /* text-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.10); */
    /* margin10 0; */
    position: 10absolute;
}
/* background overlay css */

.footer_inner_div {
    height: 90%;
}
.footer__list {
    padding: 0;
}
.footer__item {
    list-style: none;
    /* color: white; */
    /* color: rgba(63, 15, 145, 0.459); */
    margin-bottom: 10px;
}
.footer__item a {
    color: white;
    text-transform: uppercase;
    line-height: 30px;
}
.footer__item a:hover {
    color: white;
}
.footer__section__title {
    font-size: 20px;
    color: white;
}

.footer__section .history-button {
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.footer__section .history-button:hover {
    color: #011f5b;
}

.footer__list--full .footer__item-left-border {
    list-style: none;
    border-right: 1px solid rgba(255, 255, 255, 0.304);
    padding-right: 15px;
}
.footer__item-left-border.last {
    border-right: 0;
}
.footer__item-left-border a {
    color: white;
    text-transform: uppercase;
}

.footer__item-left-border a:hover {
    color: white;
}

.arrow {
    color: white !important;
    /* padding: 15px !important; */
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 20px !important;
    border-radius: 0 !important;
}
.footer__to-top:hover .arrow {
    background-color: rgba(255, 255, 255, 0.415);
}

.footer__to-top__text {
    color: white;
    text-transform: uppercase;
}
