
.navbar-style{
    background-image: linear-gradient(to right,#343A40,#3b434b);
    height: 3pc;
}

 .logo{
    position: absolute;
    top: -20px;
    left: 300px;
    text-decoration: none;
    color: white;

}
.logo:hover{
    text-decoration: none;
    color:white;
}
.main-nav{
    padding: 0 !important;
}
.navbar-nav li a:link{
    margin: 0px;
}
/* news menu styles-------------------- */
.news-menu{
    display: flex;
    justify-content: end;
}
@keyframes newsAni{
    0%{
        height: 0px;
    }
    100%{
        height: 280px;
    }
}
.news-menu-child{
    padding: 30px;
    width: 65%;
    height: 100%;
    background-color: rgba(33, 33, 26, 0.189);
    animation-name: newsAni;
    animation-duration: .5s;
}

/* spotlight styles------------------ */
.spotlight-menu{
    display: flex;
    justify-content: end;
}
@keyframes spotlightAni{
    0%{
        height: 0px;
    }
    100%{
        height: 190px;
    }
}
.spotlight-menu-child{
    padding: 30px;
    width: 45%;
    height: 100%;
    background-color: rgba(33, 33, 26, 0.189);
    animation-name: spotlightAni;
    animation-duration: .5s;
}

/* About styles------------------ */
.about-menu{
    display: flex;
    justify-content: end;
}
@keyframes aboutAni{
    0%{
        height: 0px;
    }
    100%{
        height: 280px;
    }
}
.about-menu-child{
    padding: 30px;
    width: 55%;
    height: 100%;
    background-color: rgba(33, 33, 26, 0.189);
    animation-name: aboutAni;
    animation-duration: .5s;
}





@media screen and (max-width: 988px) {
    .navbar-style {
      display: none !important;
    }
    .logo{
        position: relative;
        top: 3px;
        left: 5%;
    }
  }



  /* Phone menu-------------- */

  .modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.modal-header{
    background-color: rgba(33, 33, 26, 0.189);
}
.modal-body{
    background-color: rgba(33, 33, 26, 0.189);
    height: 100vh;
    padding: 0px !important;
}
.list-group li{
    background-color: rgba(33, 33, 26, 0.189);
}